<p>Etymon of <%= etymology.subentries.try(:first).try(:lexeme).try(:language).try(:name) || '' %> <b><%= etymology.subentries.try(:first).try(:lexeme).try(:headword_forms).try(:to_sentence) || '(Lexeme not found)' %></b> in:</p>
<%= render :partial => "shared/subentry", :collection => etymology.subentries %>
