<div class="note">
    <div class="type-text">
        <%= f.label :content, label_with_remove_option_for(t('.note'), f) %>
        <%= translatable_tag f, :text_area, :content, @langs[:vernacular], size: "80x3" %>
    </div>
</div>