<div class="gloss">
    <div class="type-text">
        <%= f.label :gloss, label_with_remove_option_for(t('.gloss'), f) %>
        <%= f.text_field :gloss %>
    </div>

    <%= list_children_with_option_to_add :parse, f, :remote => true %>
</div>