<ul>
    <% @authorships.each do |as| %>
        <li id="<%= as.id %>-authorship"><%= cited_name as %></li>
    <% end %>
        <li id="new-authorship" class="highlight"><i>(New source)</i></li>
</ul>