<h2><%= t('.name_and_code', default: "Name and code") %></h2>
<p><%= h @language %></p>

<%= link_to t("languages.show.edit", :default => 'Edit'), edit_language_path(@language) %> |
<%= link_to t("languages.show.back", :default => 'Back'), languages_path %>
