<%= render :partial => "shared/wiki/lexeme", :collection => Lexeme.lookup_all_by_headword(headword.form, :initial_case_insensitive => true, :include => [:dictionaries, {:subentries => [{:senses => :glosses}, :etymologies]}]), :locals => { :headword => headword } %>