==<%= wiki_title_for(lexeme, headword) %>==
<%= render :partial => "shared/wiki/subentry", :collection => lexeme.subentries, :locals => { :headword => headword } %><% unless @constructions.empty? %>
===Constructions===
<%= render(:partial => "shared/wiki/construction", :collection => @constructions)%>
<% end %><% unless @loci.empty? %>
===Loci===
<%= render(:partial => "shared/wiki/locus", :collection => @loci) %>
<% end %>