'''<%=h subentry.paradigm.split('|').join("'''|'''") || "<No principal parts>" %>.''' <%= render :partial => "shared/wiki/phonetic_form", :collection => subentry.lexeme.headwords.first.phonetic_forms, :spacer_template => "shared/wiki/or", :locals => { :headword => subentry.lexeme.headwords.first } %> ''<%=h subentry.part_of_speech || "<No part of speech>"%>''
<% unless subentry.senses.empty? %><%= render :partial => "shared/wiki/sense", :collection => subentry.senses %><% end %>
<%= render :partial => "shared/wiki/etymology", :collection => subentry.etymologies %>