<%= author.name %> 
<%= (construction.loci & @lexeme.loci).collect {|ref| link_to "[#{greek_numeral(@lexeme.loci.index(ref).next)}]", :anchor => "locus-#{ref.source.id}"}.to_sentence(:two_words_connector  => ', ', :last_word_connector => ", ")%>