<li><b><%= link_to construction.headwords.first.form, construction, { :name => "construction-#{construction.id}"} %></b> &mdash; <%= spaced_render :partial => "shared/author", :collection => construction.loci.collect(&:source).collect(&:author).uniq, :locals => { :construction => construction, :spacer => "; "} %>