<div class="lexform-etymology" <%= lang_for(etymology) %>>
    <%= etym = sanitize html_format(etymology)
        source = etymology.sources.first
        (source.present? ? 
            t('.etymology_with_cite', etymology: etym, cite: short_cite(source.authorship)) : 
            t('.etymology', etymology: etym)).html_safe
    %>
</div>