<div class="lexform-etymology" <%= lang_for(etymology) %>>
		[<%= sanitize html_format(etymology) %><%= " (#{short_cite etymology.sources.first.authorship})" if etymology.sources.first.present?  %>]
</div>