<div class="lexform-headword" <%=h lang_for(headword) %>><%= h headword.form.capitalize %></div>
	
	<%= render :partial => "shared/phonetic_form", :collection => headword.phonetic_forms, :spacer_template => "shared/or", :locals => { :headword => headword } %>