<span class="lexform-phonetic-form" <%=h lang_for(headword, :variant => 'fonipa') %>><%= h sentence_case(headword.phonetic_forms.collect{|x| "(#{x.form})"}.to_sentence(:two_words_connector  => ' or ', :last_word_connector => ", or ")) %></span>
