<div class="lexform-entry">
	<%= render :partial => "shared/headword", :collection => lexeme.headwords, :spacer_template => "shared/or" %>
	<%= render :partial => "shared/subentry", :collection => lexeme.subentries %>
</div>