<%= cite_locus(locus, locus_counter + 1) %>

<div class="subcolumns">
	<div class="c50l" style="border-right:3px double gray">
		<div class="subcl" style="padding-left:35px">
			<%=wh_parsed locus, locus.example, emphasis ||= [] %>
		</div>
	</div>
	<div class="c50r">
		<div class="subcr">
			<i><%=wh locus.example_translation%></i>
		</div>
	</div>
</div>