<li class="lexform-sense" <%= lang_for(sense) %>>
	<%=h sense.definition %>
	<% unless sense.glosses.empty? %>
		<ul class="lexform-glosses">
			<%= render :partial => "shared/gloss", :collection => sense.glosses %>	
		</ul>
		<% unless sense.notes.empty? %>
		<dl>
			<dd><b>¶</b> <%= render :partial => "shared/comment", :collection => sense.notes %>
		</dl>
		<% end %>
	<% end %>
</li>