<p>
  <b>Subentry:</b>
  <%=h @sense.subentry_id %>
</p>

<p>
  <b>Definition:</b>
  <%=h @sense.definition %>
</p>


<%= link_to 'Edit', edit_sense_path(@sense) %> |
<%= link_to 'Back', senses_path %>
