<h1>New phonetic_form</h1>

<%= error_messages_for :phonetic_form %>

<% form_for(@phonetic_form) do |f| %>
  <p>
    <b>Form</b><br />
    <%= f.text_field :form %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', phonetic_forms_path %>
