<% unless (f.object._delete) %>
	<tr class="etymology">
	  <td><%= f.text_field :source_language %></td>
	  <td><%= f.text_field :etymon %></td>
	  <td><%= f.text_field :gloss %></td>
	  <td>
	    <%= remove_link_unless_new_record(f) %>
	  </td>
	</tr>
<% end %>