<% unless (f.object._destroy) %>
	<div class="gloss">
		<div class="type-text">
			<%= f.label :gloss, label_with_remove_option_for("Gloss", f) %>
		  <%= f.text_field :gloss %>
		</div>
	</div>
<% end %>