<% unless (f.object.try(:_delete)) %>
		<div class="note">
			<div class="type-text">
				<%= f.label :content, "Note &nbsp; #{remove_link_unless_new_record(f)}" %>
				<%= f.text_area :content, :size => "80x3" %>
			</div>
		</div>
<% end %>