<% unless (f.object._destroy) %>
  <div class="phonetic_form">
		<div class="type-text">		
	    <%= f.label :form, label_with_remove_option_for("Phonetic Form", f) %>
	    <%= f.text_field :form %>
		</div>
  </div>
<% end %>