<% unless (f.object._destroy) %>
  <div class="phonetic_form">
		<div class="type-text">		
	    <%= f.label :form, label_with_remove_option_for(t('.phonetic_form'), f) %>
	    <%= translatable_tag f, :text_field, :form, :source %>
        
        <!-- Notes -->
		<%= list_children_with_option_to_add :note, f, :remote => true, locals: { dictionaries: @dictionaries } %>
		</div>
  </div>
<% end %>