<% unless (f.object._destroy) %>
  <div class="phonetic_form">
		<div class="type-text">		
	    <%= f.label :form, "Phonetic form &nbsp; #{remove_link_unless_new_record(f)}" %>
	    <%= f.text_field :form %>
		</div>
  </div>
<% end %>