<% @attestation = attestation 
	 fields_for attr_trail(:attestation, :locus), @attestation do |f| %>
<p><b>Attested form:</b> <%= f.text_field :attested_form %>
<%= render :partial => "parse", :collection => @attestation.parses %>
<!-- (New parse) -->
<% end %>