<% unless (f.object._destroy) %>
	<% nested_attributes_for f, [:parses, :attestation] %>
	<fieldset class="attestation">
		<legend>
			<%= label_with_remove_option_for "Attestation", f %>
		</legend>
		<div class="type-text">
			<%= f.label :attested_form %>
			<%= f.text_field :attested_form %>
		</div>  

		<%= list_children_with_option_to_add :parse, f, :as => :parsable %>
	</fieldset>
<% end %>