<h1>New locus</h1>

<%= error_messages_for :locus %>

<%= @action = "Create"
		render(:partial => "form", :object => { :label => 'Create', :action => 'create', :method => :post, :for_url => '/loci' }) %>


<%= link_to 'Back', loci_path %>
