<label for="title_search">Title</label>
<%= title_form.text_field :name, id: 'title_search' %>
<span id="title-search-indicator" style="display:none">
    <img src="<%= asset_path('icons/throbber.gif') %>" style="vertical-align:middle" width="16" height="16">
</span>
<%= title_form.hidden_field :id, id: :title_id %>
<div id="title_choices" class="autocomplete" data-plural="titles"></div>
<div id="title_new" style="display:none">
    <%= render partial: 'titles/form', locals: { title_form: title_form } %>
</div>