<h1>Listing titles</h1>

<table>
  <tr>
  </tr>

<% for title in @titles %>
  <tr>
    <td><%= link_to 'Show', title %></td>
    <td><%= link_to 'Edit', edit_title_path(title) %></td>
    <td><%= link_to 'Destroy', title, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New title', new_title_path %>
