<div class="subcolumns full equalize interpretation ">
    <div class="c50l">
        <div class="subcl type-select">
            <%= f.label :sense, label_with_remove_option_for(t('.sense'), f) %>
            <%= f.grouped_collection_select :sense_id, 
                    sense_select(@interpretations ? 
                        @interpretations[f.object.parse.parsed_form] :
                        f.object.parse.potential_interpretations), 
                    :last, :first, :last, :first,
                    {:include_blank => true} if f.object.parse %> 
        </div>
    </div>
    <div class="c50r" style="vertical-align: bottom">
        <div class="subcr type-text">
            <%= f.fields_for :sense, Sense.new do |s_form| %>
            <%= s_form.text_field :definition %>
            <% end %>
        </div>
    </div>		
</div>