//= require prototype
//= require prototype_ujs
//= require effects
//= require dragdrop
//= require controls
//= require_self

// Place your application-specific JavaScript functions and classes here
// This file is automatically included by javascript_include_tag :defaults

// Functionality to add new items to a page
replace_ids = function(template){  
	var new_id = new Date().getTime();  
	return template.replace(/NEW_RECORD/g, new_id);  
}

activate_links = function(element){
	element.getElementsBySelector('.remove').each(function(link){  
		link.observe('click', NestedAttributesJs.remove);  
	});
	element.getElementsBySelector('.add').each(function(link){  
			link.observe('click', NestedAttributesJs.add);  
	});
	element.getElementsBySelector('.add_nested').each(function(link){  
			link.observe('click', NestedAttributesJs.add_nested);  
	});
	element.getElementsBySelector('.pull_nested').each(function(link){  
		link.observe('click', NestedAttributesJs.start_throbber);
		link.observe('ajax:before', NestedAttributesJs.add_live_value_to_query);
		link.observe('ajax:success', NestedAttributesJs.pull_nested);
	});

    element.getElementsBySelector('.combobox').each(function(e){
       e.observe('change', NestedAttributesJs.toggle_comboform_input.bindAsEventListener(this, e));
    });
}

var NestedAttributesJs = {  
    start_throbber : function(e) {
	    this.insert({after: "<img class=\"throb\" src=\"<%= asset_path('icons/throbber.gif') %>\" style=\"vertical-align:middle\" width=\"16\" height=\"16\">"})
	},
    add_live_value_to_query : function(e) {
			live_value = this.up('fieldset').select('.bequeathed').last().value;
			query = e.target.search.toQueryParams()
			query['live_value'] = live_value
			e.target.search = '?'+Object.toQueryString(query); 
	},
    toggle_comboform_input : function(e2, e){
         combotext = e.up().next('.comboform');
         if (e.options[e.selectedIndex].value.indexOf("new-") == 0) {
             if (combotext) Effect.BlindDown(combotext, {duration: 0.25});
         } else {
             if (combotext) Effect.BlindUp(combotext, {duration: 0.25});
         };
    },
	remove : function(e) {
		el = Event.findElement(e);
		target = el.href.replace(/.*#/, '.');
		var oldStyle = el.up(target).style.border;
		el.up(target).style.border = "3px solid red";
		
		var conf = confirm("Delete this " + el.href.replace(/.*#/, '') + "?");
		if (conf) {
			el.up(target).hide();
			if(hidden_input = el.previous("input[type=hidden]")) hidden_input.value = '1';
		}
		else {
			el.up(target).style.border = oldStyle;
		}
	},
	add : function(e) {  
		element = Event.findElement(e);
		template = replace_ids(eval(element.href.replace(/.*#/, '') + '_template'));
		insert_with_effect(element.up('.par'), template);
	},
	add_nested : function(e) {
		el = Event.findElement(e);
		elements = el.rel.match(/(\w+)/g)
		// refactor this later, after it works
		switch (elements.length) {
		case 2:
			par = '.'+elements[0]
			child = '.'+elements[1]
		
			child_container = el.up('.par')
			parent_object_id = el.up(par).down('input').name.match(/.*\[(\d+)\]/)[1]
		
			tempname = el.href.replace(/.*#/, '');
			template = eval('window.' + tempname + '_template') || eval(tempname + '$' + elements[0] + '_template')
		
			template = replace_ids(template).replace(/(attributes[_\]\[]+)\d+/g, "$1"+parent_object_id);
			re = new RegExp("(" + elements[1] + "_attributes[_\\]\\[]+)\\d+", "g");
			template = template.replace(re, "$1NEW_RECORD");
			break;
		case 3:
			par = '.'+elements[0]
			child = '.'+elements[2]
			
			child_container = el.up('.par')
			parent_object_id = el.up(par).down('input').name.match(/.*\[(\d+)\]/)[1]
			middle_object_id = el.up('fieldset').down('input').name.match(/\d+/g)[1]
			
			template = eval(el.href.replace(/.*#/, '') + '$' + elements[1] + '$' + elements[0] + '_template')
			
			template = replace_ids(template).replace(/(attributes[_\]\[]+)\d+/g, "$1"+parent_object_id);
			re = new RegExp("(" + elements[1] + "_attributes[_\\]\\[]+)\\d+", "g");
			template = template.replace(re, "$1"+middle_object_id);
			re = new RegExp("(" + elements[2] + "_attributes[_\\]\\[]+)\\d+", "g");
			template = template.replace(re, "$1NEW_RECORD");
			break;
		}
		
		insert_with_effect(child_container, replace_ids(template));
	},
	pull_nested : function(e) {
		el = Event.findElement(e);
		elements = el.rel.match(/(\w+)/g)
		par = '.'+elements[0]
		
		child_container = el.up('.par')
		
		template = e.memo.responseText;
		
		insert_with_effect(child_container, template);
		el.next('.throb').remove();
		if(el.hasClassName('limit-one')) el.remove();
	}
}; 
  
activate_autocompletes = function(element){  
    element.getElementsBySelector('.autocomplete').each(function(div){
        complendum = div.identify().match(/.*(?=_choices)/g)[0];
        complenda = div.readAttribute('data-plural');
        
        new Ajax.Autocompleter(complendum+"_search", complendum+"_choices", "/"+locale+"/"+complenda+"/matching", {
            paramName: "value",
            parameters: "ref="+complendum,
            minchars: 2,
            indicator: complendum+"-search-indicator",
            afterUpdateElement: function(text, li) { 
                complendum = li.id.substr(li.id.indexOf("-")+1);
                if(li.id == "new-"+complendum) { // User chose the 'new X' option 
                    $(complendum+"_id").value = "";
                    newform = $(complendum+'_new');
                    if(newform) {
                        $(complendum+"_search").value = "";
                        Effect.BlindDown(newform, {duration: 0.25} );
                    }
                } 
                else { // User chose a given option
                    $(complendum+"_id").value = parseInt(li.id);
                    newform = $(complendum+'_new');
                    if(newform) Effect.BlindUp(newform, {duration: 0.25} );
                }
            }
        });
    });
};

Event.observe(window, 'load', function(){  
	activate_links($$('body')[0]);
    activate_autocompletes($$('body')[0]);
    activate_language_tabs($$(".language-list"));
    if ($('lexeme_dictionary_ids')) { $('lexeme_dictionary_ids').observe("change", fetch_languages); };
    update_add_links();
});

// Simple add effect
// and updating various observers
function insert_with_effect(container, content){
    container.insert({
        before: '<div style="display:none;">'+content+'</div>'
    });
    Effect.BlindDown(container.previous().identify(), {duration: 0.25} );
    activate_links($$('body')[0]);
    activate_autocompletes($$('body')[0]);
    activate_language_tabs(container.previous().select(".language-list"));
    update_add_links();
};

// For select-all textfields
function select_all(id){
	document.getElementById(id).focus();
	document.getElementById(id).select();
};

// For language tabs
activate_language_tabs = function(elements){
    elements.each(function(list){
        list.select('li').each(function(li){
            if (li.hasClassName("selected") ) toggle_to_corresponding_content(li);
        });

        list.on("click", "li", function(ev, el){
            ev.preventDefault();
            items = list.select("li");
            items.invoke('removeClassName', 'selected');
            el.addClassName("selected");
            toggle_to_corresponding_content(el);
        });
    });
};

function toggle_to_corresponding_content(tab){
    list = tab.up(".language-list");
    items = list.select("li");
    content = list.previous(".language-content");
    idx = items.indexOf(tab);
    corresponding = content.childElements()[idx];
    content.childElements().invoke('hide');
    corresponding.show()
}

// Desired logic:
// User changes the list of dictionaries.
// Any translatable tags update with the new list as relevant.
// Anything that's in "default language" should be updated to the appropriate language
// AND! Anything in a tab that's been edited needs to be kept, maybe with a visible indicator if it isn't one of the output langs.
// UGH.

fetch_languages = function() {
    $('lexeme_dictionary_ids').disable();
    
    $$(".translatable").each(function(content){
        content.down('.language-content').childElements().invoke('disable');
        
        langtabs = content.down('.language-list ul');
//        langtabs.childElements().each(function(tab){ Effect.Fade(tab, {duration: 0.25})});
        langtabs.insert({top: "<li class=\"throb\"><img class=\"throb\" src=\"<%= asset_path('icons/throbber.gif') %>\" style=\"vertical-align:middle\" width=\"12\" height=\"12\"></li>"});
    });
    
    forms = $$(".translatable").collect(function(tag) {
        return tag.readAttribute('data-form');
    });

    request = new Ajax.Request("/"+locale+"/dictionaries.json", {
        method: "get",
        parameters: { data: "langs", 'dictionaries[]': $('lexeme_dictionary_ids').getValue() },
        onSuccess: function(response) { 
            lang_hash = response.responseJSON;
            update_languages(lang_hash);
        },
    });
};

function update_languages(languages) {
    $('lexeme_dictionary_ids').enable();
    update_add_links();
    $$(".translatable").each(function(content){
        oldlangs = content.down('.language-content').childElements().invoke('readAttribute', 'data-language');
        langtype = content.readAttribute("data-languages");
        langtabs = content.down('.language-list ul');
        // go through each language in the languages for the appropriate language class
        languages[langtype].each(function(language){
        // if an existing div is in the languages, keep it (moving it to the appropriate position); if it's not, flag it as not to be saved (if content) or remove it (if not)
            if (oldlangs.include(language.underscore_code)) {
                // old field and tab
                oldfield = content.down('[data-language='+language.underscore_code+']');
                oldtab_index = oldfield.up().childElements().indexOf(oldfield) + 1;  
                oldtab = content.down('li', oldtab_index);

                oldfield.enable();

                // reposition tab & field
                oldfield.up().appendChild(oldfield);
                oldtab.up().appendChild(oldtab);
                oldtab.removeClassName('warning');
                Effect.Appear(oldtab, {duration: 0.25});
            } else { 
                // if it's in the languages and doesn't already have a field, duplicate, blanken, re-ID, and add it in its place     
                oldfield = content.down('input,textarea');
                oldtab = content.down('li', 1);
                oldlang = oldfield.readAttribute('data-language');
                
                newfield = oldfield.up().appendChild(oldfield.clone(true));
                    posindex = oldfield.identify().lastIndexOf(oldlang);
                newfield.id = oldfield.identify().substring(0, posindex) + language.underscore_code + oldfield.identify().substring(posindex + oldlang.length)
//                newfield.id = oldfield.identify().replace(/(.+_).+$/, "$1"+language.underscore_code);
                    posindex = oldfield.name.lastIndexOf(oldlang);
                newfield.name = oldfield.name.substring(0, posindex) + language.underscore_code + oldfield.name.substring(posindex + oldlang.length)
//                newfield.name = oldfield.name.replace(/(.+_).*?\]$/, "$1"+language.underscore_code+"]");
                newfield.clear();
                newtab = oldtab.up().appendChild(oldtab.clone(true));
                newtab.innerHTML = language.tab;
                newtab.removeClassName('warning');
                newtab.removeClassName('default');
                newfield.writeAttribute('data-language', language.underscore_code);
                Effect.Appear(newtab, {duration: 0.25});
            }        
        });
        
        dropped_languages = oldlangs.without.apply(oldlangs, languages[langtype].collect(function(lang){return lang.underscore_code}));
        dropped_languages.each(function(language){
            oldfield = content.down('[data-language='+language+']');
            oldtab_index = oldfield.up().childElements().indexOf(oldfield) + 1;
            oldtab = content.down('li', oldtab_index);
            
                // if droppable is DEFAULT then add its content to any blank, then remove.
            if (oldtab.hasClassName('default')) {
                clean_defaults(content, oldfield, oldtab);
                    
//                    newfields = content.select('input,textarea');
//                    newfields.each(function(newfield) {
//                        if (newfield.getValue() == "") { newfield.setValue($F(oldfield)); }
//                    });
//                    oldfield.remove();
//                    oldtab.remove();
                    
            } 
                
            oldfield.enable();
            oldtab.addClassName('warning');
            
            oldfield.up().appendChild(oldfield);
            oldtab.up().appendChild(oldtab);
            Effect.Appear(oldtab, {duration: 0.25});
        });
        
        // deselect all tabs
        langtabs.select('li').invoke('removeClassName', 'selected');
        langtabs.select('li').invoke('removeClassName', 'solo');
        langtabs.select('.throb').invoke('remove');
        
        // toggle to first
        langtabs.down('li').addClassName('selected');
        if (langtabs.select('li').length == 1) { langtabs.down('li').addClassName('solo') };
        toggle_to_corresponding_content(langtabs.down('li'));
        langtabs.setStyle({ width: content.down('input,textarea').getWidth() + "px" });
        
        content.down('.language-content').childElements().invoke('enable');
    });
};

function update_add_links(){
    $$(".pull_nested").each(function(anchor){
        params = anchor.readAttribute('href').toQueryParams();
        params['dictionaries[]'] = $('lexeme_dictionary_ids').getValue();
        anchor.writeAttribute('href', anchor.pathname + '?' + Object.toQueryString(params));
    });
};

// if a language is DEFAULT (old db style, or new lexeme) then add its content to any blank.
function clean_defaults(content, oldfield, oldtab){  
    newfields = content.select('input,textarea');
    newfields.each(function(newfield) {
        if (newfield.getValue() == "") { newfield.setValue($F(oldfield)); }
    });
    oldfield.setValue("");
    //oldfield.remove();
    //oldtab.remove();
}