/*
*= require ../yaml/core/base
*= require ../yaml/navigation/nav_shinybuttons
*= require ../yaml/screen/forms
*= require screen/basemod
*= require screen/content
*= require ../yaml/print/print_draft
*= require_self
*/

/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS framework
 * (en) central stylesheet
 * (de) zentrales Stylesheet
 *
 * @creator       YAML Builder V1.2.1 (http://builder.yaml.de)
 * @file          my_layout.css
 * @-yaml-minver  3.3
 * 
 */

/* import core styles | Basis-Stylesheets einbinden */
/*@import url(../yaml/core/base.css);*/

/* import screen layout | Screen-Layout einbinden */
/*@import url(../yaml/navigation/nav_shinybuttons.css);
@import url(../yaml/screen/forms.css);
@import url(screen/basemod.css);
@import url(screen/content.css);*/

/* import print layout | Druck-Layout einbinden */
/*@import url(../yaml/print/print_draft.css);*/

/* Semantic formatting */
.lexform-headword { font-weight: bold; font-size: larger; color: blue; }
.lexform-paradigm { font-weight: bold; }
.lexform-part-of-speech { font-style: italic; }
.lexform-phonetic-form { font-family: monospace; }

.dictform-entry dt, .dictform-entry dd, .dictform-entry dl { display: inline; margin: 0px; }
.dictform-headword { font-weight: bold; font-size: larger }
.dictform-paradigm { font-weight: bold; }
.dictform-part-of-speech { font-style: italic; }
.dictform-senses { display: inline; counter-reset: sense-counter; }
.dictform-senses > .dictform-sense:not(.nocount):before { content: counter(sense-counter); counter-increment: sense-counter; font-weight: bold; }
.dictform-senses > .dictform-sense { display: inline; }

.delete_label {	font-size: 80%; }
.type-text .hw-link { text-align: right; float: right; margin-right: 41.5%; }
.wanted { color: red; }

/* Rails divs */
.fieldWithErrors { padding: 10px; background: #f44; color:#400; }

#errorExplanation {
  border:2px #844 solid;
  padding:0px;
	margin-bottom:1em;
  background:#fee;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 125%;
  margin-bottom:1em;
  background-color: #f44;
  color: #fff;
}

#errorExplanation p { color:#400; margin-bottom: 0; padding-left: 10px; }
#errorExplanation ul { padding-left: 15px; }
#errorExplanation ul li { list-style: square; }

.note { background: inherit; color: inherit; border: inherit; padding: inherit; margin-bottom: inherit; }
.notice { background:#efe; color:#040; border:2px #484 solid; padding:10px; margin-bottom:1em; }

/* Autocomplete */
div.autocomplete {
  position:absolute;
  width:250px;
  background-color:white;
  border:1px solid #888;
  margin:0;
  padding:0;
  z-index:1000;
  overflow:auto;
  max-height:10em;
}
div.autocomplete ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
div.autocomplete ul li.selected { background-color: #B1D1FC;}
div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  cursor:pointer;
}


/* Interlinear */
.interlinear > dl > dl, .interlinear > dl > div { display:inline-block; vertical-align: top; margin: 0.5em 0.5em 0 0;}
.interlinear dl dt { font-style: italic; }
.interlinear dl dd { margin-left: 0; }
.interlinear .par { clear:both; padding-top: 0.5em; margin-bottom: 0.5em; }
.interlinear > fieldset { border-radius: 5px; }
.interlinear fieldset fieldset { border: 0px; margin: 0px; padding: 0px; }
.interlinear .attestation { display: inline; padding-right: 10px; min-width: 0; }
.interlinear .attestation dt, .interlinear .attestation dd { display: table; width:100%; }
.interlinear .attestation dt label, .interlinear .attestation dd label { display: table-cell; }
.interlinear .attestation dt input, 
.interlinear .attestation dd input,
.interlinear .attestation .dd select { 
    display: table-cell; 
    box-sizing: border-box; 
    width: 100%; 
}

