<p>
  <b>Etymology:</b>
  <%=h @etymothesis.etymology_id %>
</p>

<p>
  <b>Subentry:</b>
  <%=h @etymothesis.subentry_id %>
</p>


<%= link_to 'Edit', edit_etymothesis_path(@etymothesis) %> |
<%= link_to 'Back', etymotheses_path %>
