<h1>New parse</h1>

<%= error_messages_for :parse %>

<% form_for(@parse) do |f| %>
  <p>
    <b>Attestation</b><br />
    <%= f.text_field :attestation_id %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', parses_path %>
